

.center-containerf {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background: rgba(0, 0, 0, 0.5);
  color: rgba(240, 240, 240, 0.8);
}

.formf {
  width: 350px; /* Ensures the form fills its parent container */
  height: 200px; /* Adjust width of the form as needed */
  padding: 50px;
  /* Transparent background with 80% opacity */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
